<div class="col-md-10 main-list-div">
	<form name="postForm" ng-submit="submit(postForm.$valid)">
	    <div class="form-group">
	        <label>Post name</label>
	        <input class="form-control" type="text" ng-model="post.name" required/>
	    </div>
	    <div class="form-group">
	        <label>Text</label>
	        <textarea class="form-control" rows="30" ng-model="post.text" required></textarea>
	    </div>
	    <input class="btn btn-success" type="submit" value="Create"/>
    </form>
</div>
