    <div class="panel-group" ng-controller="userListController">

        <div class="panel panel-info" ng-repeat="profile in profiles">
            <div class="panel-heading"><a href="#/home/{{profile.userName}}">{{profile.firstName}} {{profile.lastName}}</a></div>

            <div class="panel-body"> 
                <div class="col-md-8 userInfo">
                
                    <div class="col-md-4 userInfo">
                        <adress>
                            <strong>Адрес</strong>
                            <br>{{profile.address}}
                        </adress>
                    </div>

                    <div class="col-md-4 userInfo">
                        <adress>
                            <strong>Skype</strong>
                            <br>{{profile.skype}}
                        </adress>
                    </div>

                    <div class="col-md-4 userInfo" style="margin-bottom: 10px">
                        <adress>
                            <strong>Дата рождения</strong>
                            <br>{{profile.birthDateDay}} {{profile.birthDateMounth}} {{profile.birthDateYear}}
                        </adress>
                    </div>
                    
                    <div >
                        <adress>
                            <strong>Дополнительная информация</strong>
                            <br>{{profile.additionalInformation}}
                        </adress>
                    </div>
                </div>
                <div class="col-md-4">
                    <img data-ng-src="data:image/png;base64,{{profile.avatarBase64}}" height="180" width="180" />
                </div>
            </div>

            <div class="panel-footer"></div>
        
    </div>