<div>
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <div class="navbar-brand">Места отдыха</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/createPlace">Добавить</a></li>
            <li><a id="maplink">Показать/Скрыть карту</a></li>
        </ul> 
    </div>

    <div class="map" hidden id="map"></div>

    <div class="panel-group">

        <div class="panel panel-info" ng-repeat="place in campList">
            <div class="panel-heading">{{place.id}}.{{place.name}}</div>
            <div class="panel-body">
                <p>Координаты: {{place.locationX}}, {{place.locationX}}</p>
                <p>Чистота: {{place.purity}}</p>
                <p>Людность: {{place.crowdy}}</p>
                <p>Доступность: {{place.approachibility}}</p>
                <p>Комфорт: {{place.comfortableness}}</p>
                <p>{{place.shortDescription}}</p>
            </div>
            <div class="panel-footer"> Обзоров: {{place.Posts.Count}}
                <a class="pull-right btn btn-danger btn-xs" ng-click="delete(place.id)">Удалить место отдыха</a>      
                <a class="pull-right btn btn-info btn-xs" href="/Article/Index/cp.Id">Добавить обзор</a>                                     
            </div>
        </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBiYT8YJ36AWUsSXozMhCOWi-ruz0tgPc&callback=initMap"></script>

    <script type="text/javascript">

        var link = document.getElementById("maplink");
        var divmap = document.getElementById("map");
        var map;

        link.onclick = function ()
        {
            divmap.hidden = !divmap.hidden;

            if(divmap.hidden)
                delete map;
            else
                initMap();
        }

        function initMap()
        {
            var myLatlng = { lat: 50, lng: 36.28 };

            var dom_el = document.querySelector('[ng-controller="campController"]');
            var ng_el = angular.element(dom_el);
            var ng_el_scope = ng_el.scope();
            var camps = ng_el_scope.points;

            map = new google.maps.Map(document.getElementById('map'), { center: myLatlng, zoom: 8 });

            camps.forEach(function (item, i, camps)
            {
                var point = item.split(" ");
                var marker = new google.maps.Marker({
                    position: { lat: parseFloat(point[1]), lng: parseFloat(point[0]) },
                    map: map,
                    title: point[2]
                });
            });

        }
    </script>

</div>