<div>
    <div class="row user-info">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
            <p>ФИО: {{profile.firstName}} {{profile.lastName}}</p>
            <p>Адрес: {{profile.address}} Skype:{{profile.skype}}</p>
            <p>Дата рождения: {{profile.birthDateDay}} {{profile.birthDateMounth}} {{profile.birthDateYear}}</p>
            <p>Дополнительная информация: {{profileData.additionalInformation}}</p>
        </div>
    </div>

    <div ng-controller="postlistController">
        <ng-include src="'app/views/postlist.html'"></ng-include>
    </div>
 </div>