<div>
    <div class="row user-info">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-10">
            <p data-ng-model="profileData.name">{{profileData.name}}</p>
            <p data-ng-model="profileData.birthDate">{{profileData.address}}</p>
            <p data-ng-model="profileData.address">{{profileData.skype}}</p>
            <p data-ng-model="profileData.additinalInformation"></p>
        </div>
    </div>

     <ng-include src="'/partials/postist.html'"></ng-include>
 </div>