<div>
    <div class="panel-group" ng-repeat="post in posts">

        <div class="panel panel-info">
            <div class="panel-heading">Место отдыха: {{post.campPlaceName}} </div>
            <div class="panel-body">{{post.text}}</div>
            <div class="panel-footer">
                {{post.creationDate}}    Id статьи: {{post.id}}
                <a class="pull-right btn btn-danger btn-xs" ng-click="deletePost(post.id)">Удалить обзор</a>
                <a id="comment" class="pull-right btn btn-info btn-xs" href="">Комментировать</a>
            </div>
        </div>

        <form id="comment_area" method="post" class="comment-area" hidden="">
            <div class="form-group">
                <input type="hidden" name="groupId" value="@(ViewBag.Group?.Id ?? 0)" />
                <input type="hidden" name="postId" value="@a.Id" />
                <textarea class="form-control" ng-model="text"></textarea>
            </div>
            <input id="sub" class="btn btn-success" value="Комментировать" ng-click="comment(text, post.id)" />
        </form>

        <dl class="col-md-offset-1 dl-comment">
            <div ng-repeat="message in post.messages">
                <dt>{{message.firstName}} {{message.lastName}} в {{message.date}} <a class="btn btn-xs btn-danger" ng-click="delete(message.id, post.id)">x</a></dt>
                <dd> - {{message.text}}</dd>
            </div>
        </dl>

        <script type="text/javascript">

            var com = document.getElementById("comment");

            var sub = document.getElementById("sub");
            var area = document.getElementById("comment_area");

            com.onclick = function ()
            {
                area.hidden = !area.hidden;
            };

            sub.onclick = function ()
            {
                area.hidden = true;
            };
        </script>

    </div>
</div>