<div class="col-md-10">

    <div class="well row user-info">
        <p  class="lead">{{group.name}}</p>
        
        <div class="col-md-6 userInfo">
            <adress>
                <strong>Members count</strong>
                <br>{{group.membersCount}}
            </adress>
        </div>

        <div class="col-md-6 userInfo" style="margin-bottom: 10px">
            <adress>
                <strong>Creator</strong>
                <br>{{group.creatorFirstName}} {{group.creatorLastName}}
            </adress>
        </div>

        <div >
            <adress>
                <strong>Short description</strong>
                <br>{{group.shortDescription}}
            </adress>
        </div>

    </div>

    <div>
        <ng-include src="'app/components/post/postlist.html'"></ng-include>
    </div>

</div>