<div class="col-md-10">

    <div class="well row user-info">
        <p  class="lead" ng-bind="group.name"></p>
        
        <div class="col-md-6 userInfo">
            <adress>
                <strong>Людей в группе</strong>
                <br>{{group.membersCount}}
            </adress>
        </div>

        <div class="col-md-6 userInfo" style="margin-bottom: 10px">
            <adress>
                <strong>Создатель</strong>
                <br>{{group.creatorFirstName}} {{group.cretorLastName}}
            </adress>
        </div>

        <div >
            <adress>
                <strong>Краткое описание</strong>
                <br>{{group.shortDescription}}
            </adress>
        </div>

    </div>

    <div>
        <ng-include src="'app/components/post/postlist.html'"></ng-include>
    </div>

</div>