<div id="div">
    <div class="container col-md-10 main-list-div">
        <div class="loader container" ng-if="response == null"></div>
        <div class="alert alert-info" ng-if="response == '204'">You have not added camp places yet</div>
        <div class="map well" hidden id="map"></div>
        <ng-include src="'app/components/campPlace/campPlaceList.html'"></ng-include>
    </div>

    <div class="col-md-2 sidebar-offcanvas " role="navigation">
        <div class="list-group">
            <a class="list-group-item" href="#/createPlace">Create</a>
            <a class="list-group-item" href="" id="maplink">Map</a>
        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBiYT8YJ36AWUsSXozMhCOWi-ruz0tgPc&callback=initMap"></script>

    <script type="text/javascript">

        var link = document.getElementById("maplink");
        var divmap = document.getElementById("map");
        var map;

        link.onclick = function ()
        {
            divmap.hidden = !divmap.hidden;

            if(divmap.hidden)
                delete map;
            else
                initMap();
        }

        function initMap()
        {
            var camps = angular.element(document.getElementById('div')).scope().response;

            var myLatlng = { lat: parseFloat(camps[0].locationY), lng: parseFloat(camps[0].locationX) };

            map = new google.maps.Map(document.getElementById('map'), { center: myLatlng, zoom: 8 });

            camps.forEach
            (
                function (item, i, camps)
                {
                    var lng = parseFloat(item.locationX);
                    var lat = parseFloat(item.locationY);

                    var title = item.name;

                    var marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map: map,
                        title: title
                    });
                }
            );
        };
    </script>

</div>