<div ng-controller="campPlaceListController">

    <div class="panel-group">

        <div class="panel panel-info" ng-repeat="place in campList">
            <div class="panel-heading">
                <a href="" class="pull-right" style="color: grey" ng-click="delete(place.id, $index)" ng-if="currentUser.toLowerCase() === place.author.toLowerCase()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a href="#/campPlaceHome/{{place.id}}">{{place.name}}</a>
            </div>
            <div class="panel-body">
                <div class="col-md-6 userInfo">
                    <adress>
                        <strong>Location</strong>
                        <br>Latitude: {{place.locationY}}
                        <br>Longitude: {{place.locationX}}
                    </adress>
                </div>
                <div class="col-md-6 userInfo" style="margin-bottom: 10px">
                    <adress>
                        <strong>Marks</strong>
                        <br>Purity: {{place.purity}}
                        <br>Crowdy: {{place.crowdy}}
                        <br>Accessibility: {{place.approachability}}
                        <br>Comfortableness: {{place.comfortableness}}
                    </adress>
                </div>
                <p>{{place.shortDescription}}</p>
            </div>
            <div class="panel-footer">
                <span>Creator: </span>
                <a href="#/home/{{place.author}}">{{place.authorFirstName}} {{place.authorLastName}}</a>, 
                <span>Posts: {{place.postsCount}}</span>
                <span ng-if="currentUser.toLowerCase() === place.author.toLowerCase()"> 
                    <a href="#/post/?id={{place.id}}" class="pull-right" style="color: grey">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
                    </a> 
                    <span class="pull-right">&nbsp;</span>
                    <a class="pull-right" style="color: grey" href="#/createPlace/{{place.id}}"> 
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>   
                </span>                                  
            </div>
        </div>
        
    </div>
</div>