<div id="div" class="col-md-10">

    <div class="loader container" ng-if="response === null"></div>
    <div class="alert alert-warning" ng-if="response == '204'">Запрашиваемый ресурс не найден</div>

    <div ng-if="(response !== null) && (response != '204')">
        <div class="well row user-info">
            <p class="lead">{{response.name}}</p>

            <div class="col-md-8 userInfo">

                <div class="col-md-6 userInfo">
                    <adress>
                        <strong>Координаты</strong>
                        <br>Широта: {{response.locationY}}
                        <br>Долгота: {{response.locationX}}
                    </adress>
                </div>
                <div class="col-md-6 userInfo" style="margin-bottom: 10px">
                    <adress>
                        <strong>Оценки</strong>
                        <br>Чистота: {{response.purity}}
                        <br>Людность: {{response.crowdy}}
                        <br>Доступность: {{response.approachability}}
                        <br>Комфорт: {{response.comfortableness}}
                    </adress>
                </div>

                <div >
                    <adress>
                        <strong>Краткое описание</strong>
                        <br>{{response.shortDescription}}
                    </adress>
                </div>

            </div>
            <div>
                <div class="homeMap col-md-2" id="homeMap"></div>
            </div>
        </div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBiYT8YJ36AWUsSXozMhCOWi-ruz0tgPc&callback=initMap"></script>

        <script type="text/javascript">

            var divmap = document.getElementById("homeMap");
            var map;

            function initMap()
            {
                var scope = angular.element(document.getElementById('div')).scope();

                var locX = parseFloat(scope.response.locationX);
                var locY = parseFloat(scope.response.locationY);
                var title = scope.response.name;

                var position = { lat: locY, lng: locX };

                map = new google.maps.Map(divmap, { center: position, zoom: 8 });

                var marker = new google.maps.Marker
                ({
                    position: position,
                    map: map,
                    title: title
                });

            };
        </script>
    </div>

    <ng-include src="'app/components/post/postlist.html'"></ng-include>
        
</div>