@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar" role="navigation">
    <div class="navbar-header">
        <div class="navbar-brand">Добавить обзор</div>
    </div>
</div>

<div>
    <form method="post">
        <div class="form-group">
            <input type="hidden" value="@ViewBag.CampPlaceId" name="CampPlaceID" />
            <textarea class="form-control" rows="30" name="Text"></textarea>
        </div>
        <input class="btn btn-success" type="submit" value="Отправить" />
    </form>
</div>

