body
{
    margin: 0px;
    padding: 0px;
    background-color: #f7f7fa;
}

.map
{
    height: 500px;
    margin-bottom: 10px;
}

.homeMap
{
    height: 250px;
    width: 220px;
    margin-bottom: 10px;
}


.div_label_user
{
    display: inline-block;
    width: 200px;
}

.user-info
{
    color: inherit;
    background-color: #eee;
    margin-bottom: 10px;
}

.comment-area
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.dl-comment
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.userInfo
{
    padding: 0px;
}

.panel-with-comments
{
    margin-bottom: 10px;
}

.secondary-list-div
{
    margin-left: -15px;
    margin-right: -15px;
}

.post-list-div
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.main-list-div
{
    margin-left: -15px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}